*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0%;
}

.toolbox-cont{
    height: 5rem;
    background-color: rgba(48, 52, 52, 0.808);
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.toolbox-cont>*{
    margin-left: 4rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.toolbox-color-cont{
    height: 3.5rem;
    width: 18rem;
    background-color: rgba(24, 34, 34, 0.584);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.5rem;
}

.action-btn{
    height: 3.5rem;
    width: 7rem;
    background-color: rgb(24, 34, 34, 0.584);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.color{
    height: 1.5rem;
    width: 3rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px 0px 0px;
    border-radius: 0.2rem;
}

.pink{
    background-color: lightpink;
}

.green{
    background-color: lightgreen;
}

.red{
    background-color: #51bde4;
}

.black{
    background-color: black;
}

.action-btn>*{
    font-size: 2rem;
    color: #d1d8e0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbox-color-cont>*:hover, .action-btn>*:hover, .priority-color-cont>*:hover{
    /* background-color: #ffffff6e; */
    opacity: 0.3;
    border-radius: 0.3rem;
}

.modal-cont{
    height: 50vh;
    width: 45vw;
    background-color: lightblue;
    position: absolute;
    top: calc((100vh - 50vh) / 2);
    left: calc((100vw - 45vw)/2);
    display: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 0.5rem;
}

textarea{
    resize: none;
    height: 100%;
    width: 75%;
    border: none;
    outline: none;
    background-color: #d1d8e0;
    font-size: 2rem;
    padding: 5%;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.priority-color-cont{
    height: 100%;
    width: 25%;
    background-color: #485460;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.priority-color{
    height: 10%;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px 0px 0px;
    border-radius: 0.2rem;
}

.active{
    border: 2.5px solid rgb(235, 226, 226);
}

.ticket-cont{
    height: 14rem;
    width: 15rem;
    background-color: #f1f2f6;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 0.5rem;
}

.ticket-color{
    height: 1rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    /* background-color: black; */
}

.ticket-id{
    height: 2rem;
    background-color: rgba(48, 52, 52, 0.479);
    padding: 3%;
    text-align: center;
}

.task-area{
    height: calc(100% - 1rem - 2rem - 2.5rem);
    font-size: 1.5rem;
    outline: none;
    overflow-wrap: break-word;
    padding: 3%;
    text-align: center;
}

.main-cont{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2rem;
    justify-content: center;
}

.lock-cont{
    /* height: 2rem; */
    /* background-color: aqua; */
    display: flex;
    justify-content: end;
    padding: 2.5%;
    font-size: 1.5rem;
    color: #84817a;
}